@import "tailwindcss";

@theme {
  --color-base-300: #374151;
  --color-base-200: #4b5563;
  --animate-fade-in: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
